body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part{
    width: 48%;
}
.option{
    display: flex;
    align-items: center;
}
.mark{
    text-align: center;
}
#submit{
    background-color: coral;
    color:black;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: -5px -5px 5px black;
    cursor: pointer;
}
@media screen and (max-width:750px) {
    .main{
        width: 100%;
        flex-direction: column;
    }
    .part{
        width: 80%;
    }
    .mark{
        margin-top: 80px;
    }
}